{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>
        Josh Thompson - {% block title %}{% endblock %}
    </title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap" rel="stylesheet">
    <link href={% static "fonts/fontawesome-free/css/all.min.css" %} rel="stylesheet">

    <!-- custom css -->
    <link href={% static "css/about.css" %} rel="stylesheet">

</head> 

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="left-block col-lg-6"> 
                <div class="row">
                    <div class="col">
                        <div class="icons">
                            <a href="mailto:hire.me.josh.p.thompson@gmail.com" target="_blank">
                                <i class="far fa-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/joshuapthompson/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://github.com/josh-p-thompson" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-2 align-self-center">
                        <img class="headshot img-fluid rounded-circle mx-auto mb-2" src= {% static "images/headshot.jpeg" %}>
                    </div>
                    <div class="col align-self-center">     
                        <h1 class='name-title'>
                            Josh Thompson
                        </h1>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat in ante metus dictum at tempor commodo ullamcorper. Maecenas ultricies mi eget mauris pharetra et ultrices. Nunc pulvinar sapien et ligula ullamcorper malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>                     
                    </div>
                </div>
                <div class="row">
                    {% for page in pages %}
                    <div class="button-padding col">
                        <a role="button" class="btn btn-outline-dark {% if page.path == path%}active{% else %}''{% endif %} btn-block" href="{{ page.path|safe }}" >{{ page.title|title|safe }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="right-block col-lg-6 offset-lg-6">
                {% for card in cards %}
                {% block card %}
                {% endblock %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>